---
import { getCollection } from "astro:content";

import CardNote from "@components/CardNote.astro";
import GridNotes from "@components/GridNotes.astro";
import LayoutContainer from "@components/LayoutContainer.astro";
import TextPage from "@components/TextPage.astro";
import TitlePage from "@components/TitlePage.astro";

import Layout from "@layouts/Layout.astro";

import formatEntryToCardNote from "@utils/format-entry-to-card-note";
import getReadingsWithNotes from "@utils/get-readings-with-notes";
import mergeNotesReadings from "@utils/merge-notes-readings";

const allNotes = await getCollection("notes");
const allReadings = await getCollection("readings");

const readingsWithAsNotes = getReadingsWithNotes(allReadings);

const listWithNotesAndReadingNotes = mergeNotesReadings({
  notes: allNotes,
  readings: readingsWithAsNotes,
});

const listToRender = listWithNotesAndReadingNotes.map((item) =>
  formatEntryToCardNote(item),
);
---

<Layout title="Notas de leitura">
  <section>
    <LayoutContainer>
      <TitlePage> Notas de leitura </TitlePage>
      <TextPage>
        Tem dias que parece um desafio enorme escrever alguns textos para essa
        parte do blog, principalmente com a cabeça cansada depois da rotina do
        trabalho. Tem dias que eu sou apenas preguiçoso.
      </TextPage>
      <GridNotes>
        {listToRender.map((item) => <CardNote {...item} />)}
      </GridNotes>
    </LayoutContainer>
  </section>
</Layout>

<style lang="scss">
  .title-group {
    font-size: clamp(2rem, 2.5vw, 2.25rem);

    &:not(:last-child) {
      margin-block-end: 16px;
    }
  }
</style>
