html,
body,
a {
  font-family: "Outfit Variable", sans-serif;
  color: #282a36;
}

strong {
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:has(svg) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
