---
import TextPage from "@components/TextPage.astro";
import TitlePage from "@components/TitlePage.astro";

export interface Props {
  spoiler: string;
}

const { spoiler } = Astro.props;
---

<div class="box-spoiler">
  <TitlePage>Opa! Cuidado a frente</TitlePage>
  <TextPage>
    Escrever notas sobre leituras nem sempre é fácil sem trazer um pouco de
    spoilers com o texto. Por isso queria avisar que desta parte do texto para
    frente talvez existam spoilers de: <strong>{spoiler}</strong>. <br /><br />
    Se não quiser que isso impacte sua experiência lendo estes volumes, volte depois
    da sua leitura!
  </TextPage>
</div>

<style lang="scss">
  .box-spoiler {
    --text-page-font-size: 1rem;
    padding-block: 16px 32px;
    padding-inline: 32px;
    border: 4px solid var(--color-purple-110);
    border-radius: 2px;
    color: var(--color-purple-200);
    background: var(--color-purple-50);
    box-shadow: 4px 4px 0px var(--color-purple-110);

    &:not(:last-child) {
      margin-block-end: 32px;

      @include container-desktop {
        margin-block-end: 64px;
      }
    }

    strong {
      box-decoration-break: clone;
      display: inline;
      padding-inline: 0;
      border-radius: 0;
      font-weight: 800;
      color: currentColor;
      background: transparent;
    }
  }
</style>
