---
import { Icon } from "astro-icon/components";

const { class: className, isDynamic, name, ...rest } = Astro.props;
---

<span
  class:list={["custom-icon", className]}
  data-ui-dynamic={isDynamic || null}
  {...rest}
>
  <Icon name={name} is:inline />
</span>

<style lang="scss" is:global>
  .custom-icon {
    &[data-ui-dynamic="true"] {
      svg {
        min-width: 0px;
        width: 100% !important;
        max-width: var(--icon-size, 24px) !important;
        height: auto;
      }
    }

    svg {
      min-width: var(--icon-size, 24px);
      width: var(--icon-size, 24px) !important;
      height: var(--icon-size, 24px) !important;
      margin-bottom: 0 !important;

      #path-light {
        fill: var(--icon-color-light, var(--color-purple-100));
      }

      #path-dark {
        fill: var(--icon-color-dark, var(--color-purple-200));
      }
    }
  }
</style>
