---
const { class: className, ...rest } = Astro.props;
---

<div
  class:list={["container", className]}
  data-ui-divider={Astro.props.divider || null}
  {...rest}
>
  <slot />
</div>

<style lang="scss">
  .container {
    width: 100%;
    max-width: var(--layout-container-width, 1088px);
    margin-inline: auto;

    &:not(:last-child) {
      margin-block-end: 72px;
    }

    &[data-ui-divider] {
      padding-block-end: 72px;
      border-block-end: 1px solid var(--color-grey-light-100);
    }
  }
</style>
