<div id="tmpl-article" class="image-canvas" hidden>
  <img
    class="social-img-pattern"
    src="/images/social-article-pattern.png"
    alt=""
    crossorigin="anonymous"
  />

  <img
    id="art-bg"
    class="social-img-bg"
    src=""
    alt=""
    crossorigin="anonymous"
  />

  <div class="social-inner">
    <div class="social-body">
      <div id="art-tags" class="social-tags"></div>
      <h2 id="art-title" class="social-title"></h2>
    </div>
  </div>
</div>
