<div id="tmpl-reading" class="image-canvas" hidden>
  <img
    class="social-img-pattern"
    src="/images/social-article-pattern.png"
    alt=""
    crossorigin="anonymous"
  />

  <img
    id="r-cover"
    class="social-img-bg"
    src=""
    alt=""
    crossorigin="anonymous"
  />

  <div class="social-inner">
    <div class="social-body">
      <div class="social-tags">
        <div class="social-tag social-tag--pink">ANÁLISE</div>
      </div>
      <h2 id="r-title" class="social-title"></h2>
      <p id="r-issue" class="social-text"></p>
    </div>
  </div>
</div>
