<div id="tmpl-article" class="image-canvas" hidden>
  <img
    class="social-img-pattern"
    src="/images/social-article-pattern.png"
    alt=""
    crossorigin="anonymous"
  />

  <img
    id="art-bg"
    class="social-img-bg"
    src=""
    alt=""
    crossorigin="anonymous"
  />

  <div class="social-inner">
    <div class="social-body">
      <div id="art-tags" class="article-tags"></div>
      <h2 id="art-title" class="social-title"></h2>
    </div>
  </div>
</div>

<style is:global lang="scss">
  .article-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    &:not(:last-child) {
      margin-block-end: 44px;
    }
  }
</style>
