<div id="tmpl-review" class="image-canvas" hidden>
  <img
    class="social-img-pattern"
    src="/images/social-article-pattern.png"
    alt=""
    crossorigin="anonymous"
  />

  <img
    id="rv-cover"
    class="social-img-bg"
    src=""
    alt=""
    crossorigin="anonymous"
  />

  <div class="social-inner">
    <div class="social-body">
      <h2 id="rv-title" class="social-title"></h2>
      <p id="rv-text" class="social-text"></p>
      <div id="rv-stars" class="social-starts social-tag social-tag--orange">
      </div>
    </div>
  </div>
</div>
