:root {
  --color-grey-dark-100: #1f1f1f;
  --color-grey-light-50: #f9f9f9;
  --color-grey-light-100: #e7e7ef;
  --color-grey-light-200: #cfcfde;
  --color-grey-light-300: #c5c5d4;
  --color-grey-light-400: #bbbbca;
  --color-purple-50: #eceafe;
  --color-purple-100: #9e94fa;
  --color-purple-200: #766cd2;
  --color-purple-100-rgb: 158, 148, 250;
  --color-yellow-grey-100: #fdfdfb;
}

body {
  background: var(--color-yellow-grey-100);
  color: var(--color-grey-dark-100);
}
