---
import "@fontsource-variable/outfit";
import "@fontsource-variable/raleway";

import "@styles/reset.css";
import "@styles/colors.css";
import "@styles/typography.css";

import HeaderNavbar from "@components/HeaderNavbar.astro";

const { title } = Astro.props;

const PageTitle = title
  ? `${title} | Página Nove`
  : "Página Nove | Quadinhos e textos mal escritos.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{PageTitle}</title>
  </head>
  <body>
    <HeaderNavbar />
    <main class="layout-main">
      <slot />
    </main>
  </body>
</html>

<style lang="scss">
  .layout-main {
    padding-block: 44px 64px;
    padding-inline: 16px;
    position: relative;
    overflow: hidden;

    @include container-desktop {
      padding-block: 64px 88px;
    }
  }
</style>
